# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
prisma/schema.prisma
prisma/migrations/migration_lock.toml
prisma/migrations/20250820205941_init_db/migration.sql
prisma/migrations/20250912094730_add_user_role/migration.sql
prisma/migrations/20250912111430_add_barbershop_admin_relation/migration.sql
prisma/migrations/20250917093833_remove_imageurl/migration.sql
prisma/migrations/20250917101556_adiciona_status_service/migration.sql
prisma/migrations/20250917101610_adiciona_status_service_2/migration.sql
prisma/migrations/20250917101647_adiciona_status_service_3/migration.sql
prisma/migrations/20250917101659_adiciona_status_service_4/migration.sql
prisma/migrations/20250918103053_add_status_booking/migration.sql
prisma/migrations/20251003104833_add_password_to_user/migration.sql
prisma/migrations/20251009095949_add_professionals_table/migration.sql
prisma/migrations/20251009103048_add_professionals_table_add_status/migration.sql
prisma/migrations/20251009110136_add_professional_to_booking/migration.sql
prisma/migrations/20251010103733_add_booking_services_relation/migration.sql
prisma/migrations/20251014090136_add_tempo_to_service/migration.sql
prisma/migrations/20251014092111_add_end_date_to_booking/migration.sql
prisma/schema.prisma
prisma/migrations/migration_lock.toml
prisma/migrations/20250820205941_init_db/migration.sql
prisma/migrations/20250912094730_add_user_role/migration.sql
prisma/migrations/20250912111430_add_barbershop_admin_relation/migration.sql
prisma/migrations/20250917093833_remove_imageurl/migration.sql
prisma/migrations/20250917101556_adiciona_status_service/migration.sql
prisma/migrations/20250917101610_adiciona_status_service_2/migration.sql
prisma/migrations/20250917101647_adiciona_status_service_3/migration.sql
prisma/migrations/20250917101659_adiciona_status_service_4/migration.sql
prisma/migrations/20250918103053_add_status_booking/migration.sql
prisma/migrations/20251003104833_add_password_to_user/migration.sql
prisma/migrations/20251009095949_add_professionals_table/migration.sql
prisma/migrations/20251009103048_add_professionals_table_add_status/migration.sql
prisma/migrations/20251009110136_add_professional_to_booking/migration.sql
prisma/migrations/20251010103733_add_booking_services_relation/migration.sql
prisma/migrations/20251014090136_add_tempo_to_service/migration.sql
prisma/migrations/20251014092111_add_end_date_to_booking/migration.sql
